# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# Rider
.idea/

# VS Code
.vscode/

# Node
node_modules/
dist/

# Logs
*.log

# Secrets
appsettings.Development.json
.env

# OS
.DS_Store
Thumbs.db